.form-input {
  padding: 10px 20px;
  border-radius: 8px;
  border-width: 1px;
}
.form-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 12px 20px;
  margin-right: 10px;
  background-color: rgb(0, 123, 255);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
