.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
.no-message-text {
  color: rgb(116, 116, 116);
  text-align: center;
  align-items: center;
  margin: 20px 0px;
}
